.side_bar
  .side_bar_username
    .top_items
      .top_items_name
        = current_user.name
      .top_items_icons
        = link_to new_group_path do
          = icon('far', 'far fa-edit', class: "contents__btn")

        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "contents__btn")

  .side_bar_group_list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group_name
            = group.name
          .group_talk
            = group.show_last_message